@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("../fonts/woodmart-font-1-400.woff2?v=8.5.7") format("woff2");
}


/*# sourceURL=wd-style-base-inline-css */
